---
layout: default
title: lib
permalink: /lib/
---
<h1>lib</h1>
{% assign lib_files = site.lib | sort: "date" | reverse %}
{% assign categories = lib_files | map: "categories" | uniq %}

{% if categories.size > 0 %}
  {% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
      {% assign category_files = lib_files | where: "categories", category %}
      {% for file in category_files %}
        <li>
          <a href="{{ file.url | relative_url }}">{{ file.title }}</a>
          <span class="post-date">({{ file.date | date: "%Y" }})</span>
          by {{ file.author | join: ", " }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <p>No categories found :(</p>
{% endif %}