<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title }}
      {% else %}
      home
      {% endif %}
    </title>
    {% seo title=false %}
    
    <link rel="preload" href="{{ /assets/fonts/Inter-VariableFont_opsz,wght.ttf }}">

    <!-- Load CSS files with media query for non-blocking -->
    <link rel="stylesheet" 
          href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
          media="print" 
          onload="this.media='all'">

    <link rel="stylesheet" 
          href="{{ '/assets/css/main.css' | relative_url }}"
          media="print" 
          onload="this.media='all'">

    <!-- Fallback for no-JS -->
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    </noscript>
    
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

    <script defer src="{{ '/assets/js/cursor-trail.js' | relative_url }}"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
    <!-- <script src="{{ '/assets/js/respond.js' | relative_url }}"></script> -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  </head>
  <body>
      <div id="star-trail"></div>
      <div id="header">
        {% include navigation.html %}
      </div>

      <div class="wrapper">
        <section class="container">
          {{ content }}
        </section>
      </div>
      <script>
        (function() {
          var links = document.links;
          for (var i = 0, linksLength = links.length; i < linksLength; i++) {
            if (links[i].hostname != window.location.hostname) {
              links[i].target = '_blank';
              links[i].rel = 'noopener noreferrer';
            }
          }
        })();
        </script>
  </body>
</html>
